<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flab.fire_inform.domains.news.mapper.NewsMapper">

    <select id="getNewsList" parameterType="String" resultType="news">
        select *
        from news
        where site = #{site}
        and domain = #{domain}
    </select>

    <insert id="insertNewsList" parameterType="news" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
                news (
                site
                ,domain
                ,title
                ,link
                ,news_total_url
        )VALUES(
                #{site}
                ,#{domain}
                ,#{title}
                ,#{link}
                ,#{newsTotalUrl}
        );
    </insert>

    <delete id="deleteNewsList" parameterType="String">
        DELETE FROM news
        WHERE site = #{site} AND domain = #{domain}
    </delete>
</mapper>